.content {
    font-size: small;
    background: #FFF;
    margin: 3px;
    height: fit-content;
    border: #777 1px solid;
    label {
        text-align: center;
        margin: 2%;
        font-size: 1.5em;
    }
    input{
        margin: 5px;
    }
    input.submit {
        margin-top: 1%;
        width: 90px;
        cursor: pointer;
        border: 1px solid #222;
        background: #333;
        color: #fff;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    input.submit:hover {
        background: #444;
    }
    select, li{
        margin: 1px;
        height: auto;
    }
    .error {
        color: #FF6262;
        font-size: 1.1em;
    }
    
    .success {
        color: green;
        font-size: larger;
    }
    
    .img {
        display: inline-flex;   
        flex-wrap: wrap;      
    }
    a{
        color: black;
    }
    #gallerie {
        margin-top: 2%;
    }
}
.row:first-child{
    max-height: 300px;
}

