footer{
    color: whitesmoke;
    background-color: #08090E;
    font-size: small;

    h5{
        text-align: center;
        font-weight: 700;
    }
    
    .end {
        font-size: smaller;
        text-align: center;
    }
    a{
        color: white;
    }
    div>.address_boutique>address>div{
        text-align: center;
    }
    div>.partenaire>aside{
            align-items: center;
            a{
                width: 23%;
            }
            img { 
                background-color: white;
                width: 100%;
                height: 50px;
                border: 2px solid #E6B3F2;
            }

    }
    div>.liens>ul{
        li{
            text-align: center;
        }
    }
    
}

$mobileS: 320px;
$mobileM: 479px;
$PhabletS : 550px;
$PhabletM : 640px;
$tabletteXS: 720px;
$tabletteS: 768px;
$tabletteM: 820px;
$tabletteL: 992px;
$pc: 1024px;
$pcHD: 1200px;
$tv: 1919px;
@media only screen and(min-width: $mobileS) and(max-width: $mobileM) {
  
    footer{ 
        div>.partenaire>aside>a {
            width: 51%;
        }
        div>.liens>ul{
            li{
                text-align: center;
            }
        }
    }
}
@media only screen and(min-width: 480px) and(max-width: $PhabletM) {
  
    footer{ 
        div>.partenaire>aside>a {
            width: 35%;
        }
        div>.liens>ul{
            li{
                text-align: center;
            }
        }
    }
}
@media only screen and(min-width: $tabletteXS) and(max-width: $tabletteM) {
  
    footer{ 
        div>.partenaire>aside>a {
            width: 50%;
        }
        
    }
}
