.content {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    background: #FFF;
    padding: 20px;
    border: #777 1px solid;
}

.content p,
label,
legend {
    font: 1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}


/* Form style */

.content label {
    display: inline-block;
    float: left;
    height: 26px;
    line-height: 26px;
    width: 155px;
    font-size: 1.5em;
}

.content input.submit {
    display: block;
    margin-top: 20px;
    width: 85px;
    cursor: pointer;
    border: 1px solid #222;
    background: #333;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.content input.submit:hover {
    background: #444;
}

/* Style for the error message */

.error {
    color: #FF6262;
    font-size: 1.1em;
}

.success {
    color: green;
    font-size: 25px;
}

.img {
    display: inline-block;
}

#gallerie {
    margin-top: 50px;
    width: 700px;
}
