.footer {
    color: whitesmoke;
    background-color: #08090E;
}

.footer h2 {
    text-align: center;
    font-weight: 700;
    font-size: small;
    padding: 10px;
}
.bloc_footer {
    font-size: small;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.ad_boutique>address{
    /*j'aligne mes deux div  cote a cote*/
    display: flex;
    margin: 5px;
    width: 100%;
}
.ad_boutique>address a{
    color: white;
}

.ad_boutique>address>div{
    padding: 5px;
    margin: 5px;
}
.liens{
    padding: 5px;
}
.liens ul{
    text-align: center;
}
.liens ul li a{
    color: white;
}
.logo_partenaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_partenaire>a {   
    width: 40%;
    padding: 5px;
    color: white;
}
.logo_partenaire img { 
   background-color: white;
    width: 100%;
    height: auto;
    border: 3px solid #E6B3F2;
}

.end {
    font-size: small;
    padding: 5px;
    text-align: center;
}