
.photos article {
    /* Hide columns by default .. cache les colonne par defaut*/
    display: none; 

}

.photos article .item .item__image {
    width: 100%;
    max-height: 300px;
}

.photos article .item .item__body {
    text-align: center;

}

/* The "show" class is added to the filtered elements */
.show {
    display: flex !important;
    flex-wrap: wrap;
}
.btn{
    border: none;
    background-color:#E6B3F2;
    min-height: 20px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.btn:hover{
    background-color: #D7C5FA;
}
/* Add a  background color to the active button */
.btn.active {
    background-color: #8B8577;
    color: white;
}