/*========================================/
/titles/
font-family: 'Merienda', cursive; 
/body/
font-family: 'BioRhyme', serif; 
/horaires boutique/
font-family: 'Quicksand', sans-serif;
#08090E /NOIR/
#8B8577 /TON PIERRE/
#562F83 /BLEUVIOLET/
#E6B3F2 /VIOLET PASTEL/
#D7C5FA/BLEUTVIOLETPASTEL/
/*========================================*/

/*je fait une border box*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*reset de la page*/
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-family: sans-serif;
}

h1 {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    padding: 5px;
}

h2 {
    font-size: 2rem;
    font-family: 'Merienda', cursive;
}

h3 {
    font-size: 1.75rem;
    font-family: 'Merienda', cursive;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Merienda', cursive;
}

h5 {
    font-size: 1.25rem;
    font-family: 'Merienda', cursive;
}

h6 {
    font-size: 1rem;
    font-family: 'Merienda', cursive;
}

a {
    /* j'enleve le style par default */
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

li {
    /* j'enleve les puce de liste */
    list-style-type: none;
}

table {
    max-width: 100%;
    height: auto;
    margin: 5px;
    border: 3px double black;
    font-family: 'Quicksand', sans-serif;
    table-layout: auto;
}
th,td{
    vertical-align: middle;
}

/*============Fil d'ariane / breadcrumb===============*/
.ariane {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    margin-top: 1%;
    margin-left: 5%;
}

.ariane a {
    padding-right: 5px;
    color: black;
}

.ariane a:hover {
    background-color: #D7C5FA;
}

/* ========== Grille css =================== */
.xlcontainer{
    margin: auto;
}
.container {
    margin: 0 5px;
}

.row {
    /*aligne toi*/
    display: flex;
    flex-direction: row;
    /*retourne a la ligne si ta plus de place*/
    flex-wrap: wrap;
    /*je met un peu d'espace entre chaque element*/
    justify-content: space-around;
    margin: 0 5px;
    overflow: hidden;
    *zoom: 1;
}

.img-resp {
    max-width: 100%;
    height: auto;
}

/*je leur donne un style*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    position: relative;
    min-height: 1px;
    padding: 0 5px;

}

/*grille*/

/*je determine la whith  de chaque type de colonne*/
.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

/*====================================
            MOBILE - FIRST
======================================*/
/*mobile*/
@media screen and (max-width: 425px) and (min-width: 320px) {
    .mobile-1 {
        width: 8.33333%;
    }

    .mobile-2 {
        width: 16.66667%;
    }

    .mobile-3 {
        width: 25%;
    }

    .mobile-4 {
        width: 33.33333%;
    }

    .mobile-5 {
        width: 41.66667%;
    }

    .mobile-6 {
        width: 50%;
    }

    .mobile-7 {
        width: 58.33333%;
    }

    .mobile-8 {
        width: 66.66667%;
    }

    .mobile-9 {
        width: 75%;
    }

    .mobile-10 {
        width: 83.33333%;
    }

    .mobile-11 {
        width: 91.66667%;
    }

    .mobile-12 {
        width: 100%;
    }
}

/*tablette*/
@media only screen and (max-width: 758px) and (min-width: 425px) {
    .tablette-1 {
        width: 8.33333%;
    }

    .tablette-2 {
        width: 16.66667%;
    }

    .tablette-3 {
        width: 25%;
    }

    .tablette-4 {
        width: 33.33333%;
    }

    .tablette-5 {
        width: 41.66667%;
    }

    .tablette-6 {
        width: 50%;
    }

    .tablette-7 {
        width: 58.33333%;
    }

    .tablette-8 {
        width: 66.66667%;
    }

    .tablette-9 {
        width: 75%;
    }

    .tablette-10 {
        width: 83.33333%;
    }

    .tablette-11 {
        width: 91.66667%;
    }

    .tablette-12 {
        width: 100%;
    }
}

/*pc*/
@media only screen and (max-width: 1200px) and (min-width: 758px) {
    .pc-1 {
        width: 8.33333%;
    }

    .pc-2 {
        width: 16.66667%;
    }

    .pc-3 {
        width: 25%;
    }

    .pc-4 {
        width: 33.33333%;
    }

    .pc-5 {
        width: 41.66667%;
    }

    .pc-6 {
        width: 50%;
    }

    .pc-7 {
        width: 58.33333%;
    }

    .pc-8 {
        width: 66.66667%;
    }

    .pc-9 {
        width: 75%;
    }

    .pc-10 {
        width: 83.33333%;
    }

    .pc-11 {
        width: 91.66667%;
    }

    .pc-12 {
        width: 100%;
    }
}
/* l */
@media only screen and (max-width:1200px) and (min-width: 992px){
    .l-1 {
        width: 8.33333%;
    }

    .l-2 {
        width: 16.66667%;
    }

    .l-3 {
        width: 25%;
    }

    .l-4 {
        width: 33.33333%;
    }

    .l-5 {
        width: 41.66667%;
    }

    .l-6 {
        width: 50%;
    }

    .l-7 {
        width: 58.33333%;
    }

    .l-8 {
        width: 66.66667%;
    }

    .l-9 {
        width: 75%;
    }

    .l-10 {
        width: 83.33333%;
    }

    .l-11 {
        width: 91.66667%;
    }

    .l-12 {
        width: 100%;
    }
}