/*========================================/
/titles/
font-family: 'Merienda', cursive; 
/body/
font-family: 'BioRhyme', serif; 
/horaires boutique/
font-family: 'Quicksand', sans-serif;
#08090E /NOIR/
#8B8577 /TON PIERRE/
#562F83 /BLEUVIOLET/
#E6B3F2 /VIOLET PASTEL/
#D7C5FA/BLEUTVIOLETPASTEL/
/*========================================*/
/*reset de la page*/
* {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'BioRhyme', serif; /*body*/
    /*font-size: 1.0417vw;*/
}
h2, h3, h4, h5, h6{
    font-family: 'Merienda', cursive; /*titles*/
    /*font-size: 1.5vw;*/
}
h1 {
    font-family: 'Merienda', cursive;
    /* je lui donne un style et une taille */
    font-weight: 700;
    /*font-size: 3vw;
     je le positionne au centre */
    text-align: center;
    /*je lui donne une marge interieure*/
    padding: 5px;
}
a {
    /* j'enleve le style par default */
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
}

li {
    /* j'enleve les puce de liste */
    list-style-type: none;
}
table {
    max-width: 100%;
    height: auto;
    margin: 5px;
    border: 3px double black;
    font-family: 'Quicksand', sans-serif; /*horaires boutique*/
}

/*============Fil d'ariane / breadcrumb===============*/
.ariane {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    margin-top: 1%;
    margin-left: 5%;
}
.ariane a{
    padding-right: 5px;
    color: black;
}
.ariane a:hover{
    background-color: #D7C5FA;
}