@media screen and (max-width:425px) {
    .header>a>.logo {
        margin-left: 50% !important;
        height: auto;
        width: 40% !important;
    }

    /*=================FOOTER===========================*/
    .footer .bloc_footer h2 {
        font-size: x-large;
    }

    .bloc_footer {
        display: flex;
        flex-direction: column;
    }

    .bloc_footer>article {
        font-size: large;
    }

    .ad_boutique address {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .end {
        font-size: small;
    }
}
@media screen and (max-width: 758px)
{

    /*===========HEADER=====================*/
    .header>a {
        width: 16% !important;
    }

    .header>a>.logo {
        margin-left: 73%;
        height: auto;
        width: 20%;
    }

    /*jaffiche licone de mon menu*/
    .header .menu_ .icon>svg {
        display: inline-block !important;
        cursor: pointer;
        width: 16%;
        height: auto;
    }

    /*je cache mon menu*/
    .header .menu_ .navbar {
        display: none !important;
    }

    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    /*==================MENU - HAMBURGER======*/
    .header .menu_responsive .icon>svg {
        width: 10%;
    }

    ul.navbar {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }

    .header .navbar li {
        font-size: 20px;
        margin-right: 5%;
        display: inline-flex;
        align-items: center;
    }

    .header .navbar li svg {
        padding-right: 5%;
        width: 19%;
    }

    /*================FOOTER=========================*/
    .bloc_footer {
        font-size: small;
    }

    p.end {
        font-size: small;
    }
}