main {
  font-family: 'BioRhyme', serif;
}
main form > fieldset legend {
  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: large;
}
main form > fieldset label {
  font-size: medium;
}
main form > fieldset input,
main form > fieldset textarea {
  height: 25px;
  border: none;
  background-color: aliceblue;
}
main form > fieldset textarea:nth-child(2) {
  min-height: 100px;
}
main form > fieldset div.btn > button {
  min-height: 20px;
  margin: 2% 3%;
  font-size: medium;
  background-color: #E6B3F2;
  box-shadow: 0 15px 35px #562F83, 0 5px 15px #D7C5FA;
  border: none;
}
main article {
  margin-top: 3%;
}
main article address {
  align-self: center;
  font-weight: bold;
  text-align: center;
  font-size: medium;
  height: auto;
}
main article address > a {
  color: black;
}
main article table {
  font-family: 'Quicksand';
}
main article table > .day {
  font-weight: bold;
}
main article table > td {
  padding: 1%;
}
main div .map {
  height: 300px;
  border: 2px double black;
}

@media only screen and (min-width: 768px) {
  label.col-12 {
    padding: 0.7%;
  }
}
@media only screen and (min-width: 820px) and (max-width: 992px) {
  label.col-12 {
    padding: 2px;
  }
}
