.pageContact {
  font-family: 'BioRhyme', serif;
}

.formulaire legend {
  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: large;
}

.pageContact .formulaire label {
  font-size: medium;
}

.pageContact .formulaire input,
.pageContact .formulaire textarea {
  min-height: 25px;
  border: none;
  background-color: aliceblue;
}

.pageContact .formulaire #msg {
  min-height: 100px;
}

.pageContact .btn button {
  min-height: 20px;
  margin: 5px 0;
  font-size: medium;
  background-color: #E6B3F2;
  box-shadow: 0 15px 35px #562F83, 0 5px 15px #D7C5FA;
  border: none;
}

.pageContact .infoMag {
  margin-top: 3%;
  width: 45%;
}

.pageContact .infoMag address {
  align-self: center;
  font-weight: bold;
  text-align: center;
  font-size: medium;
  height: auto;
}

.horaireMag {
  font-family: 'Quicksand';
}

.pageContact .day {
  font-weight: bold;
}

.pageContact td {
  padding: 1%;
}

.pageContact .map {
  height: 300px;
  border: 2px double black;
}
